include README.md
include MANIFEST.in
include LICENSE

recursive-include docs *
recursive-include src/birder *

exclude Dockerfile*
exclude docker-compose.yml
exclude .dockerignore
exclude .flake8
exclude .isort.cfg
exclude .tx
exclude ~*
exclude docker
exclude *.xfc

exclude .pytest_cache
exclude .demo
exclude .env
exclude .demo-sax
exclude .DS_Store

recursive-exclude docker *
recursive-exclude **/node_modules *
recursive-exclude **/static_src *
recursive-exclude **/~* *
recursive-exclude .tx *
recursive-exclude extras *
recursive-exclude plugins *
recursive-exclude hooks *
recursive-exclude . *.pyc
recursive-exclude **/__pycache__ *
recursive-exclude .pytest_cache *
