[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
pytest = "*"
ipdb = "*"
isort = "*"
flake8 = "*"

[packages]
requests = "*"
redis = "*"
psycopg2-binary = "*"
redis-timeseries = "*"
flask = "*"
flask-caching = "*"
circus = "*"
gunicorn = "*"
flask-bootstrap4 = "*"
python-slugify = "*"
pytz = "*"
celery = "*"
pymysql = "*"
flask-session = "*"
click = "*"
colour = "*"

[requires]
python_version = "3.7"
