{% extends "layout.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/charts.css?v={{ version }}">

{% endblock %}
{% block page %}
    <div class="row">
        <div class="sidebar">
            <div class="sticky p-5 menu">
                <div class="dragsort">
                    {% for entry in targets %}
                        <h5 id="{{ entry.pk }}">
                            <img class="icon"
                                 src="
                                         {{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/images/{{ entry.logo }}?v={{ version }}">
                            <a class="menu-item" href="#C{{ entry.pk }}">{{ entry.label }}</a>
                        </h5>
                    {% endfor %}
                </div>
                {% if user %}
                    <a class="nav-link" id="add" href="#">Add</a>
                {% endif %}
                <div class="m-3"></div>
                {% if refresh %}
                    Auto Refresh <input type="checkbox" {% if refresh == 0 %}disabled="disabled"{% endif %}
                                        id="auto-refresh"
                                        data-onstyle="success"
                                        data-offstyle="primary"
                                        data-toggle="toggle"
                                        data-size="small"
                                        data-on="On" data-off="Off">
                    <div id="lastUpdate"></div>
                {% endif %}
            </div>
        </div>
        <div class="container g-{{ granularity }}" id="content">
            {% for entry in targets %}
                <div class="container charts h-10">
                    <h3 id="C{{ entry.pk }}">{{ entry.label }}</h3>
                    {% if user and config.DISPLAY_URLS %}
                        <small>
                            {% if entry.link %}
                                <a href="{{ entry.link }}">{{ entry.url }}</a>
                            {% else %}
                                {{ entry.url }}
                            {% endif %}
                            - <a target="_blank"
                                 href="

                                         {{ config.SITE_HOST }}{{ config.URL_PREFIX }}/data/{{ entry.pk }}/{{ granularity }}/">data</a>
                            <a class="edit-monitor"
                               data-name="{{ entry.label }}"
                               data-url="{{ entry.url }}"
                               href="/api/edit/{{ entry.pk }}/"><i
                                    class="fas fa-edit"></i></a>
                            <a class="delete-monitor"
                               href="/api/del/{{ entry.pk }}/"><i
                                    class="fas fa-trash"></i></a>
                        </small>
                    {% endif %}
                    <div lass="row col-12 p-3 m-1">
                        <div id="chart-{{ entry.pk }}"></div>
                    </div>
                </div>
            {% endfor %}
            <div class="row col-12 p-1 m-1">&nbsp;
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/d3.js?v={{ version }}"></script>
    <script src="{{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/charts.js?v={{ version }}"></script>
    <script src="{{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/cal-heatmap.js?v={{ version }}"></script>
    <script src="{{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/jquery.scrollTo.js?v={{ version }}"></script>
    <script src="
            {{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/jquery.dragsort.min.js?v={{ version }}"></script>

    {% if user %}
        <script>
            $('.dragsort').dragsort({
                dragSelector: 'h4',
                placeHolderTemplate: '<h4></h4>',
                dragEnd: function () {
                    var order1 = [];
                    $('.dragsort h4').each(function (i) {
                        order1.push($(this).attr("id"))
                    })
                    console.log(order1)
                    $.ajax({
                        type: 'POST',
                        url: '/api/sort/',
                        data: JSON.stringify({"order": order1}),
                        contentType: "application/json",
                        dataType: 'json'
                    })
                        .done(function (data) {
                            location.reload();
                        })
                        .fail(function (data) {
                            console.log(data)
                        })
                }, dragBetween: false
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        var calCfg = $.extend(chartConfig.common, chartConfig.granularity['{{ granularity }}']);
        var charts = {};
        var interval = null;
        var granularity = '{{ granularity }}';
        var host = '{{ config.SITE_HOST }}';
        var urlPrefix = '{{ config.URL_PREFIX }}';
        var allCharts = {{ names|safe }};
        if (allCharts) {
            allCharts.forEach(function (name) {
                charts[name] = chartConfig.getChart(name, granularity, "{{ config.SITE_HOST }}{{ config.URL_PREFIX }}");
            });
        }

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $('#add').click(function (e) {
            e.preventDefault();
            $('#targetForm input[type=submit]').val('Add');
            $('#targetForm').submit(function (e) {
                e.preventDefault();
                var serializedData = getFormData($('#targetForm'));
                $.ajax({
                    type: 'POST',
                    url: '/api/add/',
                    data: JSON.stringify(serializedData),
                    contentType: "application/json",
                    dataType: 'json'
                })
                    .done(function (data) {
                        console.log(data)
                        $('#formWindow').hide();
                        location.reload();
                    })
                    .fail(function (xqr, aa, data,) {
                        console.log(xqr.responseText)
                        $('#formWindow .alert').html(xqr.responseText)
                    })
            });
            $('#formWindow').removeClass('d-none').show();
            $('input[name=label]').focus();
        });
        $('.delete-monitor').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'DELETE',
                url: $(this).attr('href')
            })
                .done(function (data) {
                    location.reload();
                })
        });

        $('.edit-monitor').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href')
            $('#targetForm input[name=label]').val($(this).data('name'));
            $('#targetForm input[name=url]').val($(this).data('url'));
            $('#targetForm input[type=submit]').val('Update');

            $('#targetForm').submit(function (e) {
                e.preventDefault();
                var serializedData = getFormData($('#targetForm'));
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: JSON.stringify(serializedData),
                    contentType: "application/json",
                    dataType: 'json'
                })
                    .done(function (data) {
                        $('#formWindow').hide();
                        location.reload();
                    })
                    .fail(function (xqr, aa, data,) {
                        console.log(xqr.responseText)
                        $('#formWindow .alert').html(xqr.responseText)
                    })
            });
            $('#formWindow').removeClass('d-none').show();
            $('input[name=label]').focus();
        });

        {% if refresh %}
            var updateChart = function () {
                $('#lastUpdate').html(moment().format('MM/DD/YYYY HH:mm'));
                for (var entry in charts) {
                    var target = charts[entry];
                    target.update(target._data);
                }
            };
            $('#auto-refresh').change(function () {
                if ($(this).prop('checked')) {
                    interval = setInterval(updateChart, {{ refresh }})
                } else {
                    clearInterval(interval)
                }
            });
        {% endif %}
        chartConfig.initChartPage();
    </script>
{% endblock %}
