{% extends "_base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ config.URL_PREFIX }}/static/dist/charts.css?v={{ version }}">

{% endblock %}
{% block page %}
    <div class="row">
        <div class="sidebar">
            <div class="sticky p-5 menu">
                {% for entry in targets %}
                    <h4>
                        <img class="icon" src="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/static/images/{{ entry.logo }}?v={{ version }}">
                        <a class="menu-item" href="#C{{ entry.ts_name }}">{{ entry.label }}</a></h4>

                {% endfor %}
                <div class="m-3"></div>
                {% if refresh %}
                    Auto Refresh <input type="checkbox" {% if refresh == 0 %}disabled="disabled"{% endif %}
                                        id="auto-refresh"
                                        data-onstyle="success"
                                        data-offstyle="primary"
                                        data-toggle="toggle"
                                        data-size="small"
                                        data-on="On" data-off="Off">
                    <div id="lastUpdate"></div>
                {% endif %}
            </div>
        </div>
        <div class="container g-{{ granularity }}" id="content">
            {% for entry in targets %}
                <div class="container charts h-10">
                    <h3 id="C{{ entry.ts_name }}">{{ entry.label }}</h3>
                    {% if user and config.DISPLAY_URLS %}
                        <small>
                            {% if entry.link %}
                                <a href="{{ entry.link }}">{{ entry.url }}</a>
                            {% else %}
                                {{ entry.url }}
                            {% endif %}
                            - <a target="_blank"
                                 href="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/data/{{ entry.ts_name }}/{{ granularity }}/">data</a>
                        </small>
                    {% endif %}
                    {#                    <div>#}
                    {#                        <button id="previous{{ entry.ts_name }}" class="btn btn-sm btn-outline-dark"><</button>#}
                    {#                        <button id="next{{ entry.ts_name }}" class="btn btn-sm btn-outline-dark">></button>#}
                    {#                    </div>#}

                    <div lass="row col-12 p-3 m-1">
                        <div id="chart-{{ entry.ts_name }}"></div>
                    </div>
                </div>
            {% endfor %}
            <div class="row col-12 p-1 m-1">&nbsp;
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/static/dist/d3.js?v={{ version }}"></script>
    <script src="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/static/dist/charts.js?v={{ version }}"></script>
    <script src="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/static/dist/cal-heatmap.js?v={{ version }}"></script>
    <script src="{{ config.HOSTNAME }}{{ config.URL_PREFIX }}/static/dist/jquery.scrollTo.js?v={{ version }}"></script>
    <script type="text/javascript">
        var calCfg = $.extend(chartConfig.common, chartConfig.granularity['{{ granularity }}']);
        var charts = {};
        var interval = null;
        var granularity = '{{ granularity }}';
        var host = '{{ config.HOSTNAME }}';
        var urlPrefix = '{{ config.URL_PREFIX }}';
        var allCharts = "{{ names }}".split(',');
        allCharts.forEach(function(name){
            charts[name] = chartConfig.getChart(name, granularity, host+urlPrefix);
        });
        {% if refresh %}
            var updateChart = function () {
                $('#lastUpdate').html(moment().format('MM/DD/YYYY HH:mm'));
                for (var entry in charts) {
                    var target = charts[entry];
                    target.update(target._data);
                }
            };
            $('#auto-refresh').change(function () {
                if ($(this).prop('checked')) {
                    interval = setInterval(updateChart, {{ refresh }})
                } else {
                    clearInterval(interval)
                }
            });
        {% endif %}
        chartConfig.initChartPage();
    </script>
{% endblock %}
