{% extends "layout.html" %}
{% block page %}
    <div class="container mt-5 ">
    {{ services }}
        <div class="row dragsort">
            {% for entry in services %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" id="{{ entry.0.pk }}">
                    <div class="card h-100">
                        {% if entry.1 %}
                            <img class="card-img-top status text-center"
                                 src="{{ config.URL_PREFIX }}/static/images/danger.png" alt="">
                        {% else %}
                            <img class="card-img-top status text-center"
                                 src="{{ config.URL_PREFIX }}/static/images/ok.png" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ entry.0.label }}</h4>
                            <p class="card-text">&nbsp;</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="
        {{ config.SITE_HOST }}{{ config.URL_PREFIX }}/static/dist/jquery.dragsort.min.js?v={{ version }}"></script>
    {% if user %}
    <script>
        $('.dragsort').dragsort({
            dragSelector: 'div.portfolio-item',
            dragEnd: function () {
                var order1 = [];
                $('.dragsort .portfolio-item').each(function (i) {
                    order1.push($(this).attr("id"))
                })
                $.ajax({
                    type: 'POST',
                    url: '/api/sort/',
                    data: JSON.stringify({"order": order1}),
                    contentType: "application/json",
                    dataType: 'json'
                })
                    .done(function (data) {
                        console.log(data)
                    })
                    .fail(function (data) {
                        console.log(data)
                    })
            }, dragBetween: false,
            placeHolderTemplate: '<div></div>'
        });
    </script>
    {% endif %}
{% endblock %}
