#lastUpdate {
  width: 100%;
  font-size: 12px;
  text-align: center; }

.charts .cal-heatmap-container .domain-background {
  background-color: white; }

.charts .cal-heatmap-container .graph-label {
  color: black !important;
  fill: black !important; }

.g-h .charts .cal-heatmap-container .graph-label, .g-d .charts .cal-heatmap-container .graph-label {
  font-size: 20px; }

.g-w .charts .cal-heatmap-container .graph-label {
  font-size: 14px; }

.charts .cal-heatmap-container text.subdomain-text {
  color: black !important;
  fill: black !important;
  font-size: 12px; }

.charts .cal-heatmap-container .graph-rect.q2 {
  background-color: #ff8a76;
  fill: #ff8a76; }

.charts .cal-heatmap-container .graph-rect.q3 {
  background-color: #ff7c69;
  fill: #ff7c69; }

.charts .cal-heatmap-container .graph-rect.q4 {
  background-color: #ff6e5c;
  fill: #ff6e5c; }

.charts .cal-heatmap-container .graph-rect.q5 {
  background-color: #ff604f;
  fill: #ff604f; }

.charts .cal-heatmap-container .graph-rect.q6 {
  background-color: #ff5142;
  fill: #ff5142; }

.charts .cal-heatmap-container .graph-rect.q7 {
  background-color: #ff4234;
  fill: #ff4234; }

.charts .cal-heatmap-container .graph-rect.q8 {
  background-color: #ff3227;
  fill: #ff3227; }

.charts .cal-heatmap-container .graph-rect.q9 {
  background-color: #ff221a;
  fill: #ff221a; }

.charts .cal-heatmap-container .graph-rect.q10 {
  background-color: #ff110d;
  fill: #ff110d; }

.charts .cal-heatmap-container .graph-rect.q11 {
  background-color: #f00;
  fill: #f00; }

.charts .cal-heatmap-container .future {
  background-color: #ededed;
  fill: #ededed; }
