#lastUpdate {
  width: 100%;
  font-size: 12px;
  text-align: center;

}

.charts {
  .cal-heatmap-container {
    .domain-background {
      background-color: white;
    }

    .graph-label {
      color: black !important;
      fill: black !important;
    }

    .g-h &, .g-d & {
      .graph-label {
        font-size: 20px;
      }
    }

    .g-w & {
      .graph-label {
        font-size: 14px;
      }
    }

    text.subdomain-text {
      color: black !important;
      fill: black !important;
      font-size: 12px;
    }


    .graph-rect {
      &.q2 {
        background-color: #ff8a76;
        fill: #ff8a76;
      }

      &.q3 {
        background-color: #ff7c69;
        fill: #ff7c69;
      }

      &.q4 {
        background-color: #ff6e5c;
        fill: #ff6e5c;
      }

      &.q5 {
        background-color: #ff604f;
        fill: #ff604f;
      }

      &.q6 {
        background-color: #ff5142;
        fill: #ff5142;
      }

      &.q7 {
        background-color: #ff4234;
        fill: #ff4234;
      }

      &.q8 {
        background-color: #ff3227;
        fill: #ff3227;
      }

      &.q9 {
        background-color: #ff221a;
        fill: #ff221a;
      }

      &.q10 {
        background-color: #ff110d;
        fill: #ff110d;
      }

      &.q11 {
        background-color: #f00;
        fill: #f00;
      }
    }

    .future {
      background-color: #ededed;
      fill: #ededed;
    }
  }
}
