{% extends "layout.html" %}{% load birder i18n static %}
{% block content %}
    <div class="w-full xl:px-8 px-4">
        <div class="float-right text-xs" id="lastUpdate">&nbsp;
            {% translate "Last Update" %}: {{ birder.system.last_check|default_if_none:"" }}
        </div>
    </div>
    <div class="h-auto min-h-150 block" id="project-grid">
        {% for project in projects %}
            <a class="cursor-pointer h-full" href="{{ project.get_absolute_url }}">
                <div class="monitor-panel grid grid-cols-1"
                     id="project-{{ project.pk }}">
                    <div class="flex h-5 ">
                        <div class="flex-grow w-max-2/3 overflow-clip pl-3">{{ project.name|truncatechars:"20" }}
                        </div>
                        <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                            <circle class="status-unknown" cx="5" cy="5" r="5"></circle>
                        </svg>
                    </div>
                    <div class="text-xs align-top">
                        {% for k,v in project.overview.items %}
                            <div class="flex w-full {{ k }}">
                                <span class="w-28 name">{{ k }}</span>
                                <span class="w-8 errored">{{ v.0 }}</span>
                                <span class="w-8 total">{{ v.1 }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% empty %}
            <div class="w-full col-span-full text-center align-center">
                {% translate "There are no available projects" %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
