{% extends "layout.html" %}{% load i18n icons %}
{% block content %}
    <div class="float-right px-2 lg:px-10 font-xs">
        == {{ birder.system.last_check }} ==
        == {{ birder }} ==
    </div>
    <div class="" id="monitor-grid">
        {% for monitor in monitors %}
            <a class="cursor-pointer h-full" href="{% url "monitor-detail" monitor.pk %}">
                <div class="monitor-panel grid grid-cols-1">
                    <div class="flex h-5 ">
                        <div class="flex-shrink"><img class="icon" src="{% icon monitor.strategy.icon %}"></div>
                        <div class="flex-grow w-max-2/3 overflow-clip pl-3">{{ monitor.name|truncatechars:"20" }}
                        </div>
                        <img class="status status-{{ monitor.status }}" src="{% status monitor.status %}">
                    </div>
                    <div class=" content-end text-xs ">
                        <div class="float-left">
                            {{ monitor.strategy.address }}
                        </div>
                        <div class="float-right">
                            {{ monitor.last_check }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
