{% extends "layout.html" %}{% load birder i18n static %}
{% block extrahead %}
    <script src="{% static "index.js" %}"></script>
{% endblock extrahead %}

{% block content %}
    <div class="w-full xl:px-8 px-4">
        <div class="float-right text-xs" id="lastUpdate">
            {{ birder.system.last_check|default_if_none:"" }}
        </div>
    </div>
    <div class="" id="project-grid">
        {% for project in projects %}
            <a class="cursor-pointer h-full"
               href="{% url "project-detail" project.pk %}">
                <div class="monitor-panel grid grid-cols-1"
                     id="project-{{ project.pk }}">
                    <div class="flex h-5 ">
{# <div class="flex-shrink"><img class="icon" src="{{ monitor.icon }}"></div> #}
                        <div class="flex-grow w-max-2/3 overflow-clip pl-3">{{ project.name|truncatechars:"20" }}
                        </div>
{# <img class="status status-{{ monitor.status }}" src="{% status monitor.status %}"> #}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
