{% extends "layout.html" %}{% load i18n icons %}
{% block content %}
    <div class="float-right px-3 lg:px-4 xl:px-8 text-xs" id="lastUpdate">
        {{ birder.system.last_check }}
    </div>
    <div class="" id="monitor-grid">
        {% for monitor in monitors %}
            <a class="cursor-pointer h-full" href="{% url "monitor-detail" monitor.pk %}">
                <div class="monitor-panel grid grid-cols-1" id="monitor-{{ monitor.pk }}">
                    <div class="flex h-5 ">
                        <div class="flex-shrink"><img class="icon" src="{{ monitor.icon }}"></div>
                        <div class="flex-grow w-max-2/3 overflow-clip pl-3">{{ monitor.name|truncatechars:"20" }}
                        </div>
                        <img class="status status-{{ monitor.status }}" src="{% status monitor.status %}">
                    </div>
{#                    <div class="content-end text-xs flex">#}
{#                        <div class="inline-flex flex-shrink last-success">#}
{#                            {{ monitor.last_success }}#}
{#                        </div>#}
{#                        <div class="inline-flex  flex-grow last-check text-center">#}
{#                            {{ monitor.last_check }}#}
{#                        </div>#}
{#                        <div class="inline-flex  float-end flex-shrink  last-error">#}
{#                            {{ monitor.last_error }}#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </a>
        {% endfor %}
    </div>
    <script>

    </script>
{% endblock content %}
