{% extends "layout.html" %}{% load i18n icons %}
{% block content %}
    <div class="px-2 sm:px-10 md:px-32 xl:px-80">
        <div id="monitor-detail">
            <div class="flex items-start mb-4">
                <div class="flex-shrink "><img class="icon" src="{% icon monitor.strategy.icon %}"></div>
                <div class="flex-grow w-max-2/3 text-5xl overflow-clip pl-3">{{ monitor.name|truncatechars:"20" }}
                </div>
                <img class="w-12 align-top status status-{{ monitor.status }}" src="{% status monitor.status %}">
            </div>
            <div class="my-2">
                {{ monitor.last_check }}
            </div>
            <div class="my-2">
                {{ monitor.strategy.address }}
            </div>
            <div class="">

            </div>
        <div class="font-mono text-sm mt-10">
            {% for entry in monitor.logs.all %}
                <div class="w-full my-2 align-middle">
                <div class="inline-flex flex-shrink">{{ entry.timestamp }}</div>
                <div class="inline-flex flex-grow">
                    <img class="w-4 align-top" src="{% status entry.status %}">
                </div>
                </div>
            {% endfor %}
        </div>
        </div>

    </div>
{% endblock content %}
