{% extends "admin_extra_buttons/change_form.html" %}{% load static %}
{% block extrahead %}{{ block.super }}
    {{ form.media }}
{% endblock extrahead %}

{% block last-breadcrumb %}
    {{ block.super }}
    <div class="monitor-icon">
        <img src="{{ original.icon }}">
    </div>
{% endblock last-breadcrumb %}
{# {% block submit_buttons_bottom %} #}
{# wwww #}
{# <div class="submit-row"> #}
        {# keep only what you want #}
{# {% if show_save %}<input type="submit" value="Save" class="default" name="_save">{% endif %} #}
{# {% if show_save_and_continue %}<input type="submit" value="Save and continue editing" name="_continue">{% endif %} #}
{# {% if show_delete_link %}<p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>{% endif %} #}
{# </div> #}
{# {% endblock %} #}
